name: Release

on:
  push:
    tags:
      - v*

jobs:
  build-and-release:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Publish project
        run: dotnet publish -r win-x64 -c Release /p:PublishReadyToRun=true  -o ./publish

      - name: Create release package
        run: |
          cd ./publish
          Compress-Archive -Path * -DestinationPath ./PZShrinker_${{ github.ref_name }}.zip

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
            name: PZShrinker_${{ github.ref }}
            files: |
              ./PZShrinker_${{ github.ref_name }}.zip